.container {
  border-radius: var(--default-radius);

  background-image: linear-gradient(180deg, var(--blue-100) 1%, var(--blue-010) 100%);
  border: 1px solid var(--blue-000);
  box-shadow: inset 1px 1px 0 0 var(--blue-400);

  width: 192px;
  height: 64px;
  
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.text {
  font-size: 24px;
  color: var(--gray-1100);
  letter-spacing: 0;
  text-align: center;

  font-family: var(--font-ubuntu);

  font-weight: 700;
}