.container {
  width: 870px;
  height: 136px;

  background: var(--white);
  border: 1px solid var(--gray-800);
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.80);
  border-radius: 4px;

  display: flex;

  justify-content: space-between;

  padding: 24px 32px;
}

.container:hover {
  box-shadow: 0 0 9px var(--gray-800);
}

.column {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.row {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--gray-100);
  letter-spacing: 0;
  line-height: 32px;
}

.label {
  font-weight: 700;
  font-size: 13px;
  color: var(--gray-200);
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 4px;
}

.right_label {
  font-weight: 700;
  font-size: 13px;
  color: var(--gray-600);
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 4px;
}

.text {
  font-size: 13px;
  color: var(--gray-200);
  letter-spacing: 0;
  line-height: 16px;
}

.coin {
  font-weight: 500;
  margin-left: 2px;
  color: var(--gray-300);
}

.time {
  font-weight: 500;
  margin-left: 2px;
  color: var(--gray-600);
}

.right_text {
  font-size: 13px;
  color: var(--gray-400);
  letter-spacing: 0;
  line-height: 16px;
}

.align_right {
  justify-content: flex-end;
}

.view_more_wrapper {
  display: flex;
  justify-content: flex-end;
}

.view_more {
  font-weight: 500;
  font-size: 13px;
  color: var(--blue-100);
  letter-spacing: 0;
  line-height: 16px; 
  text-decoration: underline;

  cursor: pointer;
}