.container {
  width: 870px;
  height: 136px;

  background: #FFFFFF;
  border: 1px solid #E0E0D7;
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.80);
  border-radius: 4px;

  display: flex;

  justify-content: space-between;

  padding: 24px 32px;
}

.column {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.row {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #454B51;
  letter-spacing: 0;
  line-height: 32px;
}

.label {
  font-weight: 700;
  font-size: 13px;
  color: #4E555B;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 4px;
}

.right_label {
  font-weight: 700;
  font-size: 13px;
  color: #6E767D;;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 4px;
}

.text {
  font-size: 13px;
  color: #4E555B;
  letter-spacing: 0;
  line-height: 16px;
}

.coin {
  font-weight: 500;
  margin-left: 2px;
  color: #585F66;
}

.time {
  font-weight: 500;
  margin-left: 2px;
  color: #6E767D;
}

.right_text {
  font-size: 13px;
  color: #636B71;
  letter-spacing: 0;
  line-height: 16px;
}

.align_right {
  justify-content: flex-end;
}

.view_more_wrapper {
  display: flex;
  justify-content: flex-end;
}

.view_more {
  font-weight: 500;
  font-size: 13px;
  color: #1C4E86;
  letter-spacing: 0;
  line-height: 16px; 
  text-decoration: underline;

  cursor: pointer;
}